<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/icon.png">
    <!-- reemplazamos el path de href en vez de buscar la carpeta hacia atras (./), por la ruta absoluta (/) que nos lleva a la ruta
    que elegimos por defecto para el webserver que es la carpeta "public" -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- <link rel="stylesheet" href="./css/styles.css"> -->
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to search the weather!</p>

        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>

    </div>
    {{>footer}}
    {{!-- Agregamos el script al final, para que la app no tire error al intentar ejecutar javascript antes de crear los
    elementos --}}

    <script src="/js/app.js"></script>
</body>

</html>